<p id="intro">
	{intro-greetings}<br/>
	{intro-body}
</p>
<table width="100%" cellspacing="0">
	<thead>
		{table-head}
	</thead>
	<tbody>
		{table-rows}
	</tbody>
</table>
<p id="instructions">
	{payment-instructions}
</p>
<p id="iban" style="text-align:center;">
	<strong>{payment-iban}</strong><br/>
	{payment-bank}
</p>
<p id="closure">
	{payment-closure}
</p>
<p id="greetings">
	{greetings}
</p>
<p id="signature">
	{signature}
</p>