<tr>
	<td style="border-bottom: 1px solid #ccc;"><strong>%s</strong></td>
	<td style="border-bottom: 1px solid #ccc;"><strong>%s</strong></td>
	<td style="border-bottom: 1px solid #ccc;"><strong>%s</strong></td>
	<td style="border-bottom: 1px solid #ccc; text-align: right;"><strong>%s</strong></td>
	<td style="border-bottom: 1px solid #ccc; text-align: right;"><strong>%s</strong></td>
</tr>